[submodule "audio.cpp"]
	path = audio.cpp
	url = https://github.com/0xShug0/audio.cpp.git
[submodule "mfa-go"]
	path = mfa-go
	url = https://github.com/dleiferives/MFA-go.git
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "transcribe.cpp"]
	path = transcribe.cpp
	url = https://github.com/handy-computer/transcribe.cpp.git
[submodule "wespeaker"]
	path = wespeaker
	url = https://github.com/wenet-e2e/wespeaker.git
